staging:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: {{ db_name }}
  pool: 5
  username: {{ db_user }}
  password: "{{ lookup('password', 'credentials/' + ansible_host + '/mysqlpassword length=15') }}"
  host: localhost

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: {{ db_name }}
  pool: 5
  username: {{ db_user }}
  password: "{{ lookup('password', 'credentials/' + ansible_host + '/mysqlpassword length=15') }}"
  host: localhost
