#!/bin/bash
#
# bash is needed to `source` rbenv stuff

# Fail on any error
set -e

# Go to the working tree
cd "$GIT_DIR/.." || exit 1

# $GIT_DIR is '.' which is not valid any more
unset GIT_DIR

# Setup environment
APP_ROOT="$(pwd)"
export RAILS_ENV="{{ rails_env }}"

upgrade_application() {
        local action="${1:-reload}"

        source script/rbenv-init.sh
        rbenv install --skip-existing
        ./script/install-bundler

        # Install the required gems
        # Note: the 'LANG=en_US.UTF-8' is a fix for jquery-rails 1.0.17...fails even though server has correct locale setting
        LANG="en_US.UTF-8" bundle --path "$HOME/.gem" --deployment --without "development" "test"

        ./script/precompile-assets

        echo "Migrating database..."
        bundle exec rake db:migrate

        # Configure CDN with Ansible
        # upload all assets to the CDN
        #echo Upload all assets to CDN live:upload_assets
        #bundle exec rake live:upload_assets

        # TODO: make schedule server agnostic
        # install required cron jobs
        #bundle exec whenever --set 'environment=production' --update-crontab members.ceresfairfood.org.au

        # Restart DJ workers
        ./script/delayed_job restart

	# Restart or reload unicorn
        /etc/init.d/unicorn_fairfood "$action"
        #/etc/init.d/unicorn_fairfood stop && while /etc/init.d/unicorn_fairfood start 2>&1 | grep -Fxq "Already running"; do sleep 0.1; done
}

while read oldrev newrev refname; do
        if [ "$refname" = "refs/heads/master" ]; then
                # Check if ruby changed
                if git diff "$newrev" --name-only | grep -Fxq '.ruby-version'; then
                        action="restart"
                else
                        action="reload"
                fi
                # Checkout the new revision
                git reset --hard "$newrev"
                upgrade_application "$action"
        fi
done

exit 0
