---

- name: Install geoipupdate
  apt:
    deb: https://github.com/maxmind/geoipupdate/releases/download/v7.1.1/geoipupdate_7.1.1_linux_amd64.deb

- name: Install system dependencies of the fairfood application
  apt:
    pkg:
    - libnginx-mod-http-geoip2
