---
# MySQL setup
# Execute this role as root

- name: install mysql packages
  apt:
    pkg:
    - mariadb-server
    - python3-mysqldb # required by Ansible mysql_db
    state: present

- name: Enable mariadb error logging
  lineinfile:
    dest: /etc/mysql/mariadb.conf.d/50-server.cnf
    regexp: "^#?log_error ?="
    line: "log_error = /var/log/mysql/error.log"
    state: present

- name: Ensure that service is started and enabled
  service:
    name: mariadb
    state: started
    enabled: yes

#- name: remove all anonymous user accounts
#  mysql_user: name='' host_all=yes state=absent
#  become: yes

- name: create db user
  mysql_user:
    name: "{{ db_user }}"
    password: "{{ lookup('password', 'credentials/' + ansible_host + '/mysqlpassword length=15') }}"
    priv: "{{ db_name }}.*:{{ db_privileges }}"
    state: present
  no_log: True

- name: Install database access config
  template:
    src: "my.cnf"
    dest: "{{ app_user_home }}/.my.cnf"
    mode: 0600
  become: yes
  become_user: "{{ app_user }}"
