# Ansible managed

[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User={{ app_user }}

WorkingDirectory={{ current_path }}
PIDFile={{ puma_pid }}
Environment=BUNDLE_GEMFILE={{ current_path }}/Gemfile
Environment=PIDFILE="{{ puma_pid }}"
Environment=STATE_PATH="{{ puma_state }}"
Environment=WEB_CONCURRENCY="auto"
Environment=RAILS_ENV="{{ rails_env }}"
Environment=BIND_URL="unix://{{ puma_sock }}"
Environment=LOGFILE="{{ puma_log }}"

# Helpful for debugging socket activation, etc.
# Environment=PUMA_DEBUG=1

ExecStart=/bin/bash -lc "bundle exec puma -C {{ puma_config }}"
ExecReload=/bin/bash -lc "bundle exec pumactl phased-restart -S {{ puma_state }}"

SyslogIdentifier=puma
Restart=on-failure
RestartSec=30s
TimeoutSec=30s

[Install]
WantedBy=multi-user.target
