---
# Create the unpriviledged user to run the rails application

- name: Create unprivileged app user
  user:
    name: "{{ app_user }}"
    state: present
    home: "{{ app_user_home }}"
    append: yes # add groups to user, don't remove existing group memberships
    shell: /bin/bash
    # Set password hash to `*` instead of `!` to enable SSH logins via public key.
    password: "*"
    update_password: on_create
  become: yes

- name: Create sudoers configuration for app user
  become: true
  template:
    src: sudoers.j2
    dest: "/etc/sudoers.d/{{ app_user }}"
    mode: 0440
